<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutorial.authentication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavDrawerActivity"
            android:label="E-Medicare"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".indication.IndicationActivity"
            android:label="Drugs By Indication" />
        <activity
            android:name=".drug.AddDrugActivity"
            android:label="Add Drug Info" />
        <activity android:name=".orderPack.OrderActivity" />
        <activity android:name=".orderPack.MyCart" />
        <activity
            android:name=".comment.CommentActivity"
            android:label="Leave a comment" />
        <activity
            android:name=".generics.GenericActivity"
            android:label="Drugs By Generic" />
        <activity
            android:name=".admin.AdminActivity"
            android:label="Admin" />
        <activity
            android:name=".admin.AddDrugsActivity"
            android:label="Add Drugs By Admin" />
        <activity android:name=".brands.BrandActivity"
            android:label="Drugs List"></activity>
    </application>

</manifest>